
.container {

    font-weight: 500;
    font-style: normal;
    
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.3rem;
    
}

.title p{
    font-size: 2.4rem;
    color: black;
    font-weight: 600;

}

.form{
    margin: 1.1rem 2.1rem;
    margin-bottom: 4.5rem;
}

.spaceButton{
    display: block;
    margin-top: 6.7rem;
}

.listCategories{
    margin: 1.1rem 2.1rem;

}
