
.login{
    font-weight: 500;
    font-style: normal;
}


.containerTitle{
    width: 100%;
    height: 100%;
    
    position: relative;
    
}

.msgWelcome{
    position: absolute;
    top: 3.1rem;
    left: 3.7rem;
    
    font-size: 3.1rem;
    
    color: #2F1160;
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
}

.back{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    
    margin: 19.583rem 3.3rem 0rem;
    
}

.form Button{
    margin-top: 1.5rem;
    cursor: pointer;
}

.forgotPasswd{
    margin-top: -1.1rem;
    display: flex;
    justify-content: right;
    
}

.forgotPasswd .link{
    color: #3f3d56;
    font-weight: 400;
    font-size: 1.2rem;
       
    text-decoration: none;
    cursor: pointer;
}