.form {
    margin-top: 1.5rem;
    display: grid;
    /* grid-template-rows: 4rem 12rem 40vh; */
    /* height: 60vh; */
}

.form> :nth-child(1) {
    grid-row: 1/2;
}

.form> :nth-child(2) {
    grid-row: 2/3;
}

.form> :nth-child(3) {
    grid-row: 3/4;
    align-self: end;

}


.button {
    /* margin-top: 40%; */
    /* position: absolute;
    bottom: 6rem;
    width: 100%; */
    /* width: 95vw; */
}