
.form{
    margin-top: 1.5rem;
    margin-bottom: 1.6rem;
}

.form > :nth-child(1){
    grid-row: 1/2;
}

.form > :nth-child(2){
    grid-row: 2/3;
}

.form > :nth-child(3){
    grid-row: 4/5;

}


.button{
    position: fixed;
    width: 95%;
    bottom: 9rem;
    left: 0.7rem;
}