/* 
.buttons{
    display: flex;
    
    justify-content: space-evenly;
    gap: 4rem;
    margin-top: 1rem;
    height: 3.5rem;
}

.button {
    width: 10.6rem;
    height: 3rem;

    border-radius: 0.6rem;
    border: none;
    background: white;
    box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.25);

    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.25s;
}

.focus{
    background: #221FD1;
    color: #FFFFFF;
} */


.list{
    margin-top: 1.5rem;
    
}

/* .itemList{
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-areas: 
        'img period period'
        'img photos access'
        'img photos configure'
        'org org configure'
        'description description configure'
    ;
}


.itemList > :nth-child(1){
    width: 14.1rem;
    height: 8.2rem;

    grid-area: img;

}

.itemList > :nth-child(2){
    grid-area: period;
    align-self: center;
    justify-self: start;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}

.itemList > :nth-child(3){
    grid-area: photos;
    align-self: flex-start;
    justify-self: center;
}

.itemList > :nth-child(4){
    grid-area: org;
    margin-top: 0.6rem;
}

.itemList > :nth-child(5){
    grid-area: description;
}

.itemList > :nth-child(6){
    grid-area: access;
    justify-self: end;

}

.itemList > :nth-child(7){
    grid-area: configure;
    align-self: center;
    justify-self: end;

} */


