
.combobox{
    height: 4.5rem;
    margin-bottom: 0;
}

.selectWrapper {
    position: relative;
    width: 100%;
    height: 2.8rem;
  }
  
  select {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    border: 0;
    border-bottom: .1rem solid #000;
    border-radius: 0%;

    outline: 0;
    height: 2rem;
    font-size: 1.4rem;
    color: black;
    
    font-weight: 500;
    background: transparent;
    transition: border-color 0.2s;
    
  }
  
  .label_empty_option {
    position: absolute;
    font-weight: 400;
    top: 0.4rem;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.6);
    line-height: 150%;
  }

  .label_noempty_option {
    position: absolute;
    font-weight: 400;
    top: -1rem;
    display: block;
    transition: 0.2s;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
    line-height: 150%;
  }

  select:focus {
    font-weight: 500;
    border-width: 2px;
    border-image: linear-gradient(to right, #114c99, #1544cf);
    border-image-slice: 1;
  }

  select:focus ~ label {
    position: absolute;
    top: -1.1rem;
    display: block;
    transition: 0.2s;
    font-size: 1.2rem;
    color: #1a1c94;
    font-weight: 600;
  }

  .invalid {
    border-bottom: .1rem solid red;
  }
  
  .invalid:focus {
    border-image: linear-gradient(to right, #991c11, #cf1e15);
    border-image-slice: 1;
  }

  .invalid:not(:focus) ~ label{
    color: brown;
    /* right: 1rem; */
  }

  .invalid:focus ~ label {
    color: #94221a;
  }
  
  
  .error{
    font-size: 1rem;
    color: red;
    position: absolute;
    right: 0rem;
    top: 3.2rem;
  }