
.container {

    font-weight: 500;
    font-style: normal;
    
}

.form{
    margin: 2rem 1rem 4rem 1rem;
}

.spaceButton{
    display: block;
    margin-top: 4.7rem;
}

.listCategories{
    margin: 2rem 1rem 4rem 1rem;
}
