

.containerTitle{
    width: 100%;
    height: 100%;
    font-weight: 500;
}

.msgWelcome{

    margin-top: 3.1rem;
    margin-left: 3.7rem;
    
    font-size: 3.1rem;
    
    color: #2F1160;
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.back{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
