

.containerTitle{
    width: 100%;
    height: 100%;
    font-weight: 500;
    /* position: relative; */
}

.msgWelcome{
    /* position: absolute; */
    /* top: 3.1rem; */
    /* left: 3.7rem; */
    margin-top: 3.1rem;
    margin-left: 3.7rem;
    
    font-size: 3.1rem;
    
    color: #2F1160;
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.back{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.formLogin{
    padding: 7rem 0rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.form Button{
    margin-top: 3.3rem;
    cursor: pointer;
}

.forgotPasswd{
    /* margin-top: -2.1rem; */
    display: flex;
    justify-content: right;
    
}

.forgotPasswd .link{
    color: #3f3d56;
    font-weight: 400;
    font-size: 1.2rem;
       
    text-decoration: none;
    cursor: pointer;
}

.msgErroLogin p{
    margin: 0;
    font-weight: 600;
    text-align: center;
    color: red;
    font-size: 1.5rem;
}
