
.item{
    display: flex;
    justify-content: space-between;
}

.photo{
    
}

.photoName{
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.name{
    color: #21272e;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: -0.26px; 
}

/* .line{
    background-color: #95A1B0;
    height: 1px;
    margin-top: 1.5rem;
} */