
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 1.3fr 1fr 1fr;

    margin-right: 0.4rem;
}

.elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1.5rem;

    grid-row: 2/4;
    grid-column: 1/3;
}

