
.category{
    margin-bottom: 1.8rem;
}

.category hr{
    margin-top: 0.8rem;
}

.elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imgs{
    display: flex;
    flex-direction: row;
    gap: 1.9rem;
    cursor: pointer;

}