
.form{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form button{
    margin-top: 5rem;
}

.photo{
    width: 11rem;
    height: 11rem;
    justify-self: center;
    align-self: center;

    margin-bottom: 5rem;
    position: relative;
}

.photo::after{
    content: url('assets/photo.svg');
    position: absolute;
    bottom: 1.4rem;
    right: 2rem;
}