.wrapper{
    background: rgba(242, 242, 242, 0.6);
    height: 17.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 1.2rem;
}

.iconContainer{
    display: flex;    
    flex-direction: column;
    align-items: center;

    position: relative;

}

.addBanner{
    font-weight: 400;
    font-size: 1.4rem;
}

.icon{
    width: 3.4rem;
    height: 3.4rem;
}


.iconPhoto{
    width: 2.8rem;
    height: 2.8rem;

    position: absolute;
    top: 1.6rem;
    left: 1.8rem;

    cursor: pointer;
}
