
.paddingPage{
    padding: 2.7rem 2rem 0rem;
}

.home{
    background-color: #f7f6f9;
    font-style: normal;
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .photoNameUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
}

.header .photoNameUser p{
    font-size: 3rem;
    font-weight: 600;
    color: black;
}

.header .icons {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-bottom: 2rem;
    gap: 2.2rem;   
    
}

.location p{
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #fbfbfb;
}

.buttonsChoiceSport{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-bottom: 2.6rem;
}

.buttonsChoiceSport button{
    width: 11rem;
    height: 3.3rem;
    background: white;
    border: none;
    box-shadow: 0px 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.6rem;
    
    font-weight: 300;
    font-size: 1.2rem;
    color: black;
}

.buttonsChoiceSport button:hover{
    background-color: #221fd1;
    color: white;
    font-weight: 700;
}


.headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    
    margin-bottom: 2.2rem;
}

.headerSection .title{
    font-size: 2.4rem;
    color: black;
}

.headerSection .link{
    font-size: 1.2rem;
    color: #221fd1;
}



.tournaments{

}


.tournaments .tournament{
    text-align: center;
    
    margin-bottom: 1.8rem;
}

.ranking{
    
}

.ranking .peoples{
    display: flex;
    justify-content: space-between;
}


.footer{
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    
}

.menuBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #f8f8f8;
    box-shadow: 0px -0.2rem 1.4rem rgba(0, 0, 0, 0.25);
    border-radius: 2rem 2rem 0rem 0rem;
    filter: drop-shadow(0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    
    height: 6rem;   
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option img{
    width: 2.1rem;
    height: 2.1rem;
}

.option p{
    font-size: 1.2rem;
    line-height: 150%;
    color: #8a8a8a;
}

