.container{
    width:100%;
    height:80px;
    position:relative;
    margin-top: 93px;
    grid-column: 1/4;
    
  }
  
  .divBlue{
    /* border:4px solid black; */
    background-color: rgba(18, 44, 145, 0.7);
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border-radius:60px 60px 0 0;
  }
  
  .divWhite{
    /* border:4px solid black; */
    background-color:white;
    display: inline-block;
    position:absolute;
    left:0;
    right:0;
    top:25px;
    bottom:0;
    border-radius:70px 70px 0 0;
    z-index: 0;
    height: 60px;
  }
  