
.textarea{
    padding: 1rem;
    margin: 0.5rem 0;
    height: 10.7rem;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2.6rem;
    outline: none;
}

.textarea:focus{
    border-width: 2px;
    border-image: linear-gradient(to right, #114c99, #1544cf);
    border-image-slice: 1;
    border-radius: 1rem;
}

.textarea:placeholder-shown {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 150%;
    color: #3F3D56;
}

.textarea:focus:placeholder-shown {
    color: #1a1c94;
    font-weight: 700;
  }
  