
.textarea{
    box-sizing: border-box;
    display: block;
    padding: 1rem;
    margin: 0.5rem 0;
    height: 10.7rem;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2.6rem;
    outline: none;
    resize: none;
}

.textarea:focus{
    border: 1px solid #114c99;
}

.textarea:placeholder-shown {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 150%;
    color: #3F3D56;
}

.textarea:focus:placeholder-shown {
    color: #1a1c94;
    font-weight: 700;
  }
  