.list{
    margin: 3rem 0 0 0;
}


.itemList{
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-areas:
        'description games'
        'photos games'
        'numberAth remover'
        ;
    row-gap: 0.5rem;
}

.itemList > :nth-child(1){
    grid-area: description;
}

.itemList > :nth-child(2){
    grid-area: photos;

}

.itemList > :nth-child(3){
    grid-area: numberAth;
}

.itemList > :nth-child(4){
    grid-area: games;
    justify-self: end;
    margin-top: 0.5rem;
}

.itemList > :nth-child(5){
    grid-area: remover;
    justify-self: end;
}