p{
    font-size: 2.4rem;
    color: #3f3d56;
}


.uploadPhoto{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    
    margin-bottom: 3rem;
}

.uploadPhoto Button{
    /* width: 20rem; */
    border-radius: 3.1rem;
}

.form{
    display: flex;
    flex-direction: column;
    
    gap: 1.8rem;
    box-sizing: content-box;
}

.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 35% 65%; */

    margin-bottom: 2.2rem;
}

label{
    font-size: 1.7rem;
    color: #3f3d56;
}

.gender{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}

.gender p{
    font-size: 1.7rem;
    color: #3f3d56;

}

.radioButton{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    font-size: 1.5rem;
    color: #3f3d56;
    font-weight: 400;
}

.radioButton input{
    border: 0.1rem solid black;
    width: 2rem;
    height: 2rem;
}


.form Button{
    /* width: 100%; */
    margin-top: 3.7rem;
}


/* not run in firefox */
input[type="date"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    background: url(/src/assets/Icon_calendar.svg);    
}