
.search{
    margin-top: 2.8rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 7px;
    border: 1px solid #8A8A8A; 
    outline: none;
    width: 100%;
}

.inputSearch{
    position: relative;
}

.inputSearch img{
    position: absolute;
    right: 1rem;
    top: 3.8rem;
    cursor: pointer;
}

