p{
    font-size: 2.4rem;
    color: #3f3d56;
}


.createProfile{
    font-weight: 500;
    font-style: normal;
}

.containerTitle{
    width: 100%;
    height: 100%;
    
    position: relative;

}


.title{
    position: absolute;
    top: 3.1rem;
    left: 3.7rem;

    font-size: 3.1rem;
    color: #2f1160;
    line-height: 4.6rem;
    font-weight: 500;
    
    display: flex;
    flex-direction: row;
    
    align-items: center;

}


.containerMain{
    margin: 4.6rem 3.3rem 0rem;
    text-align: center;
}


.uploadPhoto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 3rem;
    
}

.uploadPhoto Button{
    width: 20rem;
    border-radius: 3.1rem;
}

.form{
    display: flex;
    flex-direction: column;
    
    gap: 1.8rem;
}

.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 2.2rem;
}


.gender{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.radioButton{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.4rem;
}

.radioButton input{
    border: 0.1rem solid black;
    width: 2.2rem;
    height: 2.2rem;
}

.radioButton label{
    font-size: 1.8rem;
    color: #3f3d56;
}


.form Button{
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 7rem;    
}

.imgRetangle{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* not run in firefox */
input[type="date"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    background: url(../../assets/Icon_calendar.svg);    
}