
.inputPreLogged {
    position: relative;
    height: 5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.inputPreLogged img {
    position: absolute;
    z-index: 10;
    right: 2rem;
    top: 1.5rem;
}

.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 35% 65%; */

    margin-bottom: 2.2rem;
}

label{
    font-size: 1.7rem;
    color: #3f3d56;
}

.input {
    height: 5rem;
    border-radius: 0.4rem;
    border: 0.11rem solid #8a8a8a;
    padding: 0rem 2rem;
    font-size: 1.8rem;
    color: #3f3d56;
    outline: none;

}

.input:focus {
    border-width: 0.18rem;
    border-image: linear-gradient(to right, #114c99, #1544cf);
    border-image-slice: 1;
}

.invalid {
    border: .18rem solid rgb(223, 5, 5);
}

.invalid::placeholder {
    color: #ef5348;
}

.invalid:focus {
    border-image: linear-gradient(to right, #80190f, #cf1e15);
    border-image-slice: 1;
    outline: none;
}


.error {
    font-size: 1rem;
    color: red;
    align-self: end;
    margin: 0;
}