
.form{
    margin-top: 1.1rem;
    margin-bottom: 2.6rem;
}


.paragraph{
    margin-top: 2.3rem;
    margin-bottom: 1.8rem;
}

.paragraph p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
}

.inputDates{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.input {
    /* width: 45%; */
}
