/* .header {
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    justify-items: center;
    align-items: center;    
}

.header > :nth-child(1){
    justify-self: flex-start;
}

.header > :nth-child(3){
    justify-self: flex-end;
}


.header > :nth-child(2) {
    font-size: 2.4rem;
    color: black;
    font-weight: 600;
    justify-self: center;
}
 */
 .main {
    font-weight: 500;
    
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 0rem 1rem auto 1rem;
    
}