.wrapper{


}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

/* .textOr{
    font-size: 1.8rem;
    color: #262626;
    
}

.imgsSocialMedia{
    margin-top: 2.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8.8rem;
}
*/
